---
title: Home
---

<%= render 'carousel'%>

<!-- Start: Main Content Area -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

<%= render 'about'%>

      <hr class="featurette-divider">

<%= render 'program'%>

      <hr class="featurette-divider">

<%= render 'location'%>

      <hr class="featurette-divider">

<%= render 'sponsors'%>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->

<!-- End: Main Content Area -->
