---
title: Acerca de La Summit
---

<h1>Acerca de La Summit </h1>
<p>La openSUSE Summit reune una amplia variedad de contribuyentes del Codigo Abierto para colaborar en los proyectos de una de las principales distribuciones de Linux.
Durante tres dias emocionantes de talleres y encuentros sociales reviviremos el eslogan openSUSE "Have a lot of fun" ("Divierte Mucho").</p>

<p>La Summit se llevara a cabo del 21 al 23 de Septiembre a continuacion de <a href="http://www.suse.com/events/susecon/" target="_blank"> SUSEcon </a> , la conferencia anual de nuestros principales patrocinadores. 
<a href="/es/Inscripcion" target="_blank">Las personas que se registren
</a>antes del 15 de Septiembre recibiran entrada gratuita al ultimo dia de la SUSECon.</p>

<p>Revisa el menu de Navegacion para aprender mas sobre el evento y como participar en el mismo.</p>
<p>
<strong>Codigo de Conducta</strong>. El Equipo de la openSUSE Summit considera muy impportante crear una atmosfera en la que todos se sientan aceptados y bienvenidos. Se espera que todos los visitantes se comporten acorde a nuestro
<a href="http://en.opensuse.org/openSUSE:Conference_code_of_conduct" target="_blank"> Codigo de Conducta</a> y se tomaran acciones pertinentes contra cualquier conducta inapropiada.</p>
