---
title: O konferenci
---

<h1>O openSUSE konferenci </h1>
<p>openSUSE konference přivede na jediné místo spoustu přispěvatelů do svobodného softwaru, aby mohli spolupracovat na 
jedné z největších Linuxových distribucí.
Během čtyř dnů plných práce i zábavy se slogan openSUSE "Have a lot of fun" stane skutečností.</p>

<p>Letos se openSUSE konference koná současně s <a href="http://linuxdays.cz/">LinuxDays</a>, konferenci SUSE Labs a <a href="http://gentoo.org">Gentoo minisummitem</a>. Konference openSUSE se koná 20.-23. října, na začátku (20. a 21.) se překrývá s LinuxDays.</p>

<p>V navigačním menu naleznete více informací o konferenci a možnosti se jí zúčastnit.</p>
<p>
<strong>Pravidla chování</strong>. Je pro nás důležité vytvořit prostředí ve kterém se každý bude cítit dobře a vítán.
Proto od všech účastníků očekáváme, že se budou řídit našimi
<a href="http://en.opensuse.org/openSUSE:Conference_code_of_conduct" target="_blank">pravidly chování</a> a budou se bránit jakémukoliv nepřístojnému chování.</p>

