<div class="featurette" id="about">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#what" data-toggle="tab">oSC13</a></li>
      <li><a href="#tickets" data-toggle="tab">Tickets</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="what">
      <img class="featurette-image pull-right" src="images/featurette/about.jpg">
        <h2 class="featurette-heading">The openSUSE Conference<br /><span class="muted">Power to the Geeko!</span></h2>
        <p class="lead">
        Hundreds of hackers from around the globe will come to the country where the modern age of reason started.
        In the place where over 2500 years ago great thinkers sat down and taught the art of logical and critical
        thinking, we will sit down and talk critically about logic and code.
        </p>
        <p class="pull-right"><a href="#">Back to top</a></p>
      </div>
      <div class="tab-pane" id="tickets">
      <img class="featurette-image pull-right" src="images/featurette/tickets.jpg">
        <h2 class="featurette-heading">Join Us<br /><span class="muted">Free as in Free!</span></h2>
        <p class="lead">
        Going to oSC13 is free, there are no entry fees whatsoever. We only ask to register yourself so we can plan for the
        right amount of people. Registration is expected to open during the first half of February.
        If you want to support our event and travel sponsorship program you can purchase a supporter ticket for $50 or a
        professional ticket for $250. Tickets sales will start also in the first half of February.
        </p>
        <p class="pull-right"><a href="#">Back to top</a></p>
      </div>
    </div>
  </div>
</div>
