<div class="featurette" id="about">

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#what" data-toggle="tab">oSC13</a></li>
      <li><a href="#tickets" data-toggle="tab">Tickets</a></li>
      <li><a href="#coc" data-toggle="tab">Code of Conduct</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="what">
      <div class="pull-right">
      <img class="featurette-image" src="images/featurette/about.jpg">
      <p class="featurette-image-license"><small>All Rights Reserved - <a href="http://www.flickr.com/photos/marblebutterfly/">By I.S.B.M.</a></small></p>
      </div>
        <h2 class="featurette-heading">The openSUSE Conference<br /><span class="muted">Power to the Geeko!</span></h2>
        <p class="lead">
        On July 18, 2013, hundreds of hackers from around the globe will come to the country where the modern age of reason started.
        In the place where over 2500 years ago great thinkers sat down and taught the art of logical and critical
        thinking, we will sit down and talk critically about logic and code.
        </p>
        <p class="pull-right"><a href="#"><i class="icon-arrow-up"></i>Back to top</a></p>
      </div>
      <div class="tab-pane" id="tickets">
      <div class="pull-right">
      <img class="featurette-image" src="images/featurette/tickets.jpg">
      <p class="featurette-image-license"><small><a href="http://creativecommons.org/licenses/by/2.0/deed.en">Some Rights Reserved</a> -
      <a href="http://www.flickr.com/photos/vasile23/">By vasile23</a></small></p>
      </div>
        <h2 class="featurette-heading">Join Us<br /><span class="muted">Free as in Free!</span></h2>
        <p class="lead">
        Going to oSC13 is free, there are no entry fees whatsoever. We only ask you register yourself so we can plan for the
        right amount of people. Registration is expected to open during the first half of February.
        If you want to support our event and <a href="http://en.opensuse.org/openSUSE:Travel_Support_Program">Travel Support Program</a>
        you can purchase a supporter ticket for $50 
        (<a href="https://buy.suse.com/store/suse/en_US/buy/productID.264835100">Americas/Asia</a> or
        <a href="http://shop.novell.com/DRHM/store?Action=AddItemToRequisition&amp;siteId=novelleu&amp;Env=BASE&amp;productId=265352500">Europe, Middle East and Africa</a>)
        or a professional ticket for $250
        (<a href="https://buy.suse.com/store/suse/en_US/buy/productID.264935300">Americas/Asia</a> or
        <a href="http://shop.novell.com/DRHM/store?Action=AddItemToRequisition&amp;siteId=novelleu&amp;Env=BASE&amp;productId=265352400">Europe, Middle East and Africa</a>).
        We'll get you a nice <em>thank-you gift</em> during check-in!
        </p>
        <p class="pull-right"><a href="#"><i class="icon-arrow-up"></i>Back to top</a></p>
      </div>
      <div class="tab-pane" id="coc">
      <div class="pull-right">
      <img class="featurette-image" src="images/featurette/coc.jpg">
      <p class="featurette-image-license"><small>All Rights Reserved - <a href="http://www.flickr.com/photos/marblebutterfly/">By I.S.B.M.</a></small></p>
      </div>
        <h2 class="featurette-heading">Create an environment where people feel accepted and welcome<br /><span class="muted">Code of Conduct</span></h2>
        <p class="lead">
<div class="text">
<table id="toc" class="toc"><tbody><tr><td><div id="toctitle"><h2>Contents</h2></div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Introduction_and_aims"><span class="tocnumber">1</span> <span class="toctext">Introduction and aims</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#The_statement"><span class="tocnumber">2</span> <span class="toctext">The statement</span></a>
<ul>
<li class="toclevel-2 tocsection-3"><a href="#Offending_behaviour"><span class="tocnumber">2.1</span> <span class="toctext">Offending behaviour</span></a></li>
<li class="toclevel-2 tocsection-4"><a href="#Examples_of_possible_consequences"><span class="tocnumber">2.2</span> <span class="toctext">Examples of possible consequences</span></a></li>
<li class="toclevel-2 tocsection-5"><a href="#Possibilities_to_contact"><span class="tocnumber">2.3</span> <span class="toctext">Possibilities to contact</span></a></li>
<li class="toclevel-2 tocsection-6"><a href="#License"><span class="tocnumber">2.4</span> <span class="toctext">License</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-7"><a href="#FAQ"><span class="tocnumber">3</span> <span class="toctext">FAQ</span></a>
<ul>
<li class="toclevel-2 tocsection-8"><a href="#Why_is_this_needed.3F"><span class="tocnumber">3.1</span> <span class="toctext">Why is this needed?</span></a></li>
<li class="toclevel-2 tocsection-9"><a href="#But_what_about_my_Freedom_of_Speech.3F"><span class="tocnumber">3.2</span> <span class="toctext">But what about my Freedom of Speech?</span></a></li>
<li class="toclevel-2 tocsection-10"><a href="#How_will_you_decide_what_is_bad_or_OK.3F"><span class="tocnumber">3.3</span> <span class="toctext">How will you decide what is bad or OK?</span></a></li>
<li class="toclevel-2 tocsection-11"><a href="#But_I_can.27t_be_myself_this_way.21"><span class="tocnumber">3.4</span> <span class="toctext">But I can't be myself this way!</span></a></li>
<li class="toclevel-2 tocsection-12"><a href="#Why_doesn.27t_this_document_cover_xyz_specific_example.3F"><span class="tocnumber">3.5</span> <span class="toctext">Why doesn't this document cover xyz specific example?</span></a></li>
<li class="toclevel-2 tocsection-13"><a href="#Shouldn.27t_people_toughen_up_and_learn_how_to_take_a_joke.3F"><span class="tocnumber">3.6</span> <span class="toctext">Shouldn't people toughen up and learn how to take a joke?</span></a></li>
</ul>
</li>
</ul>
</td></tr></tbody></table>
<h2> <span class="mw-headline" id="Introduction_and_aims">Introduction and aims</span></h2>
<p>One of the aims of the openSUSE Conference/Summit Teams is to create an environment where people feel accepted and welcome.
</p><p>We have therefore created these guidelines to clarify our position and to assist attendees in recognizing these boundaries.
</p><p>As our <a href="http://en.opensuse.org/openSUSE:Guiding_principles" title="openSUSE Guiding Principles">Guiding Principles</a> state:
</p><p><i>We value respect for other persons and their contributions, for other opinions and beliefs. We listen to arguments and address problems in a constructive and open way. We believe that a diverse community based on mutual respect is the base for a creative and productive environment enabling the project to be truly successful. We don't tolerate social discrimination and aim at creating an environment where people feel accepted and safe from offense.</i>
</p>
<h2> <span class="mw-headline" id="The_statement">The statement</span></h2>
<p>The openSUSE Conference and Summit are meant to be places for everyone to feel safe and included. We, as a community, value and respect people of all stripes - genders, orientations, races, abilities, shapes and sizes - and <i>will not tolerate vilification, abuse or harassment in any form</i>. We appreciate that cultural differences may cause misunderstanding so we will try to clarify these and will attempt to smooth misunderstandings as they arise. But we also expect people to <i>not play dumb, and make an effort</i> to ensure a pleasant conference experience for everyone.
</p><p>Conference participants behaving in ways that run counter to these principles risk <i>being denied entrance or expelled</i> from the conference without a refund at the discretion of the conference organizers. Conference Speakers should be especially aware of these concerns.
</p>
<h3> <span class="mw-headline" id="Offending_behaviour">Offending behaviour</span></h3>
<p>Harassment and inappropriate behavior can include (but is not limited to):
</p>
<ul><li> offensive verbal comments related to gender, sexual orientation, race, cultural background or other personal characteristics
</li><li> sexual or racial images in public spaces
</li><li> deliberate intimidation, stalking, following, harassing photography or recording
</li><li> inappropriate jokes and insults
</li><li> inappropriate physical contact and unwelcome sexual attention
</li></ul>
<p>Harassment includes such behavior when occurring at openSUSE Conference/Summit venues, social functions, or otherwise connected or directly arising out of activities of oSC. If someone asks you to stop harassing or insulting behavior, your business with them is done, and you should leave them alone.
</p>
<h3> <span class="mw-headline" id="Examples_of_possible_consequences">Examples of possible consequences</span></h3>
<p>If a participant engages in harassing or demeaning behavior, the conference organizers may try various remedies such as warnings or requests to desist if appropriate; with the final recourse being expulsion from the conference with no refund. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified by their special oSC organizer t-shirts and badges, and have received training on how to receive your report.
</p><p>The openSUSE Conference/Summit Staff reserve the right to deny entrance to any individual.
</p>
<h3> <span class="mw-headline" id="Possibilities_to_contact">Possibilities to contact</span></h3>
<p>Conference staff will be happy to help participants contact hotel/venue security or local law enforcement if that is asked for; or to provide escorts, or to otherwise assist those experiencing harassment to feel safe for the duration of the conference. The conference team can be recognized by their t-shirts. We value your attendance and are committed to provide a fun and enjoyable conference!
</p>
<h3> <span class="mw-headline" id="License"> License </span></h3>
<p>Our anti-harassment policy is based on Creative Commons licensed documents:
</p>
<ul><li> on the <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment_policy" class="external text" rel="nofollow">anti-harassment policy template</a> (<a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment_policy#License_and_attribution" class="external text" rel="nofollow">licensed</a> under <a href="http://creativecommons.org/publicdomain/zero/1.0/" class="external text" rel="nofollow">- CC0 1.0 Universal</a>)
</li><li> and the there-upon based on the <a href="http://lca2011.linux.org.au/about/harassment" class="external text" rel="nofollow">LCA 2011 anti harassment policy</a> (which states that it may be be used by others as a template or guideline under a Creative Commons Zero license).
</li></ul>
<p>As such, it may also be used by others as a template or guideline under a Creative Commons Zero license.
</p>
<h2> <span class="mw-headline" id="FAQ">FAQ</span></h2>
<h3> <span class="mw-headline" id="Why_is_this_needed.3F">Why is this needed?</span></h3>
<p>We are a very diverse community. What is perfectly acceptable in one context or culture might not be in another. That means that, <b>yes</b>, we need to restrict ourselves in a setting like our conference. A joke which might be completely appropriate with your friends or family might be taken entirely different by someone from the other side of the world. While your intention might not be to offend, that doesn't negate the harm it does.
</p><p>Please note that there is more keeping us from being a diverse community (for example see <a href="http://libreplanet.org/wiki/Group:Women%27s_Caucus/Resources/Getting_started" class="external text" rel="nofollow">this page</a>) but this is an important step!
</p>
<h3> <span class="mw-headline" id="But_what_about_my_Freedom_of_Speech.3F">But what about my Freedom of Speech?</span></h3>
<p>Often, in a discussion about harassment and code of conduct, the principle of Freedom of Speech comes up. Obviously, we value Freedom and don't aim to limit it. But this also includes the freedom to feel safe!
</p><p>Moreover, this is the openSUSE conference/Summit. We, the openSUSE community, organize it. And we want to have a pleasant environment for all attendants, not just a specific subset of contributors. So we set these rules. Those who wish to exercise their 'Freedom of Speech' irrespective of how it makes others feel can do so on their own, <i>not</i> at the openSUSE conference!
</p>
<h3> <span class="mw-headline" id="How_will_you_decide_what_is_bad_or_OK.3F">How will you decide what is bad or OK?</span></h3>
<p>Our principle will not be to judge how something was <b>meant</b> but how it was <b>perceived</b>. This means that if you are asked to be nicer, please do so and strongly consider apologizing. The argument that the statement or action you did is not considered harmful in your culture or that you didn't mean it in any bad way is meaningless: it is about how the other person took what you said, not how you meant it.
</p><p>We won't kick anyone out without a discussion or second chance unless the behavior is so obviously wrong that there is no doubt that the person in question knew very well that he/she was being offensive. If there is any reason to assume it was an honest mistake we'll just talk about it and move on.
</p>
<h3> <span class="mw-headline" id="But_I_can.27t_be_myself_this_way.21">But I can't be myself this way!</span></h3>
<p>Etiquette exists to make social life easier for everyone. We all adapt our behavior in public to some degree, and when bringing together a diverse group of people, we just need to do so a little more. We ask everybody to be aware of social and cultural issues, watch what they say, and point out to others that they might be crossing a line where appropriate.
</p><p>But you don't have to walk on eggs and you can give your honest opinion. Please realize that giving an opinion is always possible with neither offensive or sexual language. Yes, that means you might have to adapt your communication style to some extent. But isn't that what doing something together means? There is a lot to gain and learn from diversity, throwing that away so we can all be rude to each other seems foolish.
</p>
<h3> <span class="mw-headline" id="Why_doesn.27t_this_document_cover_xyz_specific_example.3F">Why doesn't this document cover xyz specific example?</span></h3>
<p>This is a statement of intent, not a 500 page legal document or a full handbook on 'How Not To Be A Loser'. Who would read a document that covered every possibility? We expect attendees to the openSUSE conference to be intelligent people capable of assessing their own behavior and that of their friends.
</p>
<h3> <span class="mw-headline" id="Shouldn.27t_people_toughen_up_and_learn_how_to_take_a_joke.3F">Shouldn't people toughen up and learn how to take a joke?</span></h3>
<p>While it's normal to have jokes that use the behavior of 'others' to bond the in-group, the in-group in openSUSE is the broadest cross-section of humanity. You might find it a novelty to have that 'other' in the group, but we don't - their presence is expected and welcome. 
</p>
</div>
        </p>
        <p class="pull-right"><a href="#"><i class="icon-arrow-up"></i>Back to top</a></p>
      </div>
    </div>
  </div>
</div>