<div class="featurette" id="about">
  <img class="featurette-image pull-right" src="images/featurette/about.jpg">
  <h2 class="featurette-heading">The openSUSE Conference<br /><span class="muted">Power to the Geeko!</span></h2>
  <p class="lead">
    Hundreds of hackers from around the globe will come to the country where the modern age of reason started.
    In the place where over 2500 years ago great thinkers sat down and taught the art of logical and critical
    thinking, we will sit down and talk critically about logic and code.
  </p>
  <p class="pull-right"><a href="#"><i class="icon-arrow-up"></i>Back to top</a></p>
</div>