---
title: About
---

<h1>About The Summit </h1>
<p>The openSUSE Summit brings together a wide variety of Open Source contributors to collaborate on one of the major Linux distribution projects.
In three exciting days of workshops and social happenings we bring alive the openSUSE slogan "Have a lot of fun".</p>

<p>The Summit takes place September 21-23 following <a href="http://www.suse.com/events/susecon/" target="_blank"> SUSEcon </a> , our main sponsors' yearly conference. 
<a href="/Register" target="_blank">Registrations finalized </a> before September 15 include free admission to the final day of SUSECon.</p>

<p>Check the Navigation menu to learn more about the event and how to participate.</p>
<p>
<strong>Code of Conduct</strong>. It is important for the openSUSE Summit Team to create an environment where everyone
feels accepted and welcome. We expect all our visitors to behave according to our
<a href="http://en.opensuse.org/openSUSE:Conference_code_of_conduct" target="_blank"> Code of Conduct</a> and will take decisive action against any inappropriate behavior.</p>

