
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="images/slides/thessaloniki-night.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <div class="lead" id="logo_osc13">

              </div>
              <!-- <a class="btn btn-large btn-success" href="https://conference.opensuse.org/osem/conference/osc2013/register">Register Today</a> -->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="images/slides/people-praga.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>5 Days of Awesome</h1>
              <p class="lead">
              Learn, work, enjoy with the friends from your community.<br />
              Develop together the technology for the future.</p>
              <!-- <a class="btn btn-large btn-success" href="https://conference.opensuse.org/osem/conference/osc2013/register">Register Today</a> -->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="images/slides/thessaloniki-day.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Thessaloniki, Greece</h1>
              <p class="lead">
              Join us on the grounds of the ancient philosophers.<br>
              We gather here for our very own software revolution!
              </p>
              <!-- <a class="btn btn-large btn-success" href="https://conference.opensuse.org/osem/conference/osc2013/register">Register Today</a> -->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <h2>oSC13</h2>
          <p>
          From 18-22 July, 2013 the openSUSE Conference (oSC13) will bring together a wide variety of Open Source
          contributors to collaborate on one of the major Linux distribution projects.
          </p>
        </div><!-- /.span4 -->
        <div class="span4">
          <h2>Program</h2>
          <p>
          Most sessions at oSC13 will evolve around our project, our technology and the Free and Open Source software (FOSS) community in the vincinity of us.
          Meet many of the people that make FOSS happen, learn from and have fun with them.
          </p>
        </div><!-- /.span4 -->
        <div class="span4">
          <h2>Location</h2>
          <p>
          The Olympic Museum in Thessaloniki, Greece. At the crossroads of Europe, Asia and Africa.
          According to Lonely Planet the world's fifth-best party city worldwide and Europes youth capital 2014.
          </p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->

      <div class="row details-btn">
        <div class="span4">
            <a class="btn" href="#about">View details &raquo;</a>
        </div>
          <div class="span4">
            <a class="btn" href="#program">View details &raquo;</a>
          </div>
          <div class="span4">
            <a class="btn" href="#location">View details &raquo;</a>
          </div>
      </div>
