<!-- FOOTER -->
</div>
<footer class="footer">
    <div class="container">
     <p>&copy; 2013 openSUSE - All Rights Reserved.</p>
    </div>
    <ul class="footer-links">
        <li><a href="http://www.opensuse.org">openSUSE.org</a></li>
        <li class="muted">&middot;</li>
        <li><a href="http://software.opensuse.org">Get Software</a></li>
        <li class="muted">&middot;</li>
        <li><a href="http://shop.opensuse.org/">Shop</a></li>
        <li class="muted">&middot;</li>
        <li><a href="http://en.opensuse.org/Portal:Wiki">Help</a></li>
    </ul>
</footer>