<div class="featurette" id="location">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Venue</a></li>
      <li><a href="#tab2" data-toggle="tab">Getting there</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <img class="featurette-image pull-right" src="images/featurette/location.jpg">
        <h2 class="featurette-heading">At the Olympic Museum<br /><span class="muted">Thessaloniki, Greece!</span></h2>
        <p class="lead">
        Renowned for its festivals, events and vibrant cultural life in general, Thessaloniki is considered to be Greece's cultural capital.
        Greece or Hellas, is the southern European country located at the crossroads of Europe, Asia and Africa. 
        The greek openSUSE community is one of the most active openSUSE communities around the world. 
      </p>
      <p class="pull-right"><a href="#">Back to top</a></p>
      </div>
      <div class="tab-pane" id="tab2">
      <h2 class="featurette-heading">Thessaloniki<br /><span class="muted">A major transportation hub</span></h2>
      Thessaloniki is the second largest city in Greece and the capital of the region of Central Macedonia.
      Shortly you will find here how to best get there.
      </div>
    </div>
  </div>
</div>
