<div class="featurette" id="location">

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#venue" data-toggle="tab">Venue</a></li>
      <li><a href="#travel" data-toggle="tab">Getting there</a></li>
      <li><a href="#hotel" data-toggle="tab">Accomodation</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="venue">
      <div class="pull-right">
      <img class="featurette-image" src="images/featurette/location.jpg">
      <p class="featurette-image-license"><small><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.en">Some Rights Reserved</a> -
      <a href="http://commons.wikimedia.org/wiki/File:Thessaloniki_Olympic_Museum,_main_facade,_night.jpg">By Thessaloniki Olympic Museum</a></small></p>
      </div>
        <h2 class="featurette-heading">At the Olympic Museum<br /><span class="muted">Thessaloniki, Greece!</span></h2>
        <p class="lead">
        Renowned for its festivals, events and vibrant cultural life in general, Thessaloniki is considered to be Greece's cultural capital.
        Greece or Hellas, is the southern European country located at the crossroads of Europe, Asia and Africa. 
        The greek openSUSE community, affectionately known as Greekos, is one of the most active openSUSE communities around the world. 
        </p>
        <p class="pull-right"><a href="#"><i class="icon-arrow-up"></i>Back to top</a></p>
      </div>
      <div class="tab-pane" id="travel">
      <div class="pull-right">
      <img class="featurette-image" src="images/featurette/travel.jpg">
      <p class="featurette-image-license"><small><a href="http://creativecommons.org/licenses/by-nc-sa/2.0/deed.en">Some Rights Reserved</a> -
      <a href="http://www.flickr.com/photos/eltoro80/">By eltoro80</a></small></p>
      </div>
        <h2 class="featurette-heading">Thessaloniki<br /><span class="muted">A major transportation hub</span></h2>
        <p class="lead">
        Thessaloniki is the second largest city in Greece, a tourist destination and a major transportation hub for southern Europe.
        Thessaloniki is served by <a href="http://www.thessalonikiairport.com/">Macedonia International Airport (IATA: SKG)</a>
        for international and domestic flights. The airport lies 15 km southeast of the city and connections to the city are served
        on a 24-hour basis by the <a href="http://www.oasth.gr/index_eng.php">Thessaloniki Urban Transport Organization</a>.
        Detailed information about all the aspects of travel to and in Thessaloniki can be found on
        <a href="http://en.wikivoyage.org/wiki/Thessaloniki">wikivoyage.org</a>
        </p>
        <p class="pull-right"><a href="#"><i class="icon-arrow-up"></i>Back to top</a></p>
      </div>
      <div class="tab-pane" id="hotel">
      <div class="pull-right">
      <img class="featurette-image" src="images/featurette/hotel.jpg">
      <p class="featurette-image-license"><small><a href="http://creativecommons.org/licenses/by-nc-nd/2.0/deed.en">Some Rights Reserved</a> -
      <a href="http://www.flickr.com/photos/gichristof/">By gichristof</a></small></p>
      </div>
        <h2 class="featurette-heading">Thessaloniki<br /><span class="muted">Places to stay</span></h2>
        <p class="lead">
        We will feature information on preferred accomodation here as soon as we've made arrangements.
        <!--
       Get something here like:
       Hotel XXXX is very affordable and close to the venue, beautiful blablabla.
       Hotel YYYY is a little more up scale but features excellent comfort blabla.
       (more hotels)

       You can find information on booking these hotels and more
       <a href="https://en.opensuse.org/openSUSE:Conference_Location#Hotel_information">on the wiki</a>.
      -->
        </p>
          <p class="pull-right"><a href="#"><i class="icon-arrow-up"></i>Back to top</a></p>
      </div>
    </div>
  </div>
</div>