<div class="featurette" id="media">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#press" data-toggle="tab">Press</a></li>
      <li><a href="#promote" data-toggle="tab">Promote</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="press">
      <div class="pull-left">
      <img class="featurette-image" src="images/featurette/press.jpg">
      <p class="featurette-image-license"><small><a href="http://creativecommons.org/licenses/by/2.0/deed.en">Some Rights Reserved -
      <a href="http://www.flickr.com/photos/62693815@N03/">By Jon S.</a></small></p>
      </div>
        <h2 class="featurette-heading">Spread the Word<br /><span class="muted">Tell all your friends</span></h2>
        <p class="lead">
        In the coming weeks you'll find here the essential information about the event including press announcements,
        images, logos for download and more. If you want to visit oSC13 as a journalist we would like to ask you
        to get in contact with our press team at <a href="mailto:news@opensuse.org">news@opensuse.org</a> so we can 
        organize a press-badge for you.</p>
        <p>
          <a class="btn" href="/files/openSUSE_Conference_2013_Announcement.pdf">oSC13 Announcement (PDF)</a>
        </p>
        <p class="pull-right"><a href="#"><i class="icon-arrow-up"></i>Back to top</a></p>
      </div>
      <div class="tab-pane" id="promote" style="overflow:hidden;">
        <h2 class="featurette-heading">Show your support<br /><span class="muted">Help us to promote the event</span></h2>
        <ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail">
             <a href="/images/osc13_logo.png"><img src="/images/promo/thumbnails/logo.png" alt="logo"></a>
             <h6>Embedd the logo:</h6>
              <pre class="prettyprint">
&lt;a href="http:/conference.opensuse.org"
alt="openSUSE Conference 2013, 18-22 July, Thessaloniki, Greece"
title="openSUSE Conference 2013, 18-22 July, Thessaloniki, Greece"
&gt;
&lt;img src="http://conference.opensuse.org/images/osc13_logo.png"&gt;
&lt;/a&gt;
              </pre>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <a href="/images/promo/banner.jpg"><img src="/images/promo/thumbnails/banner.png" alt="banner"></a>
              <h6>Embedd the banner:</h6>
              <pre class="prettyprint">
&lt;a href="http:/conference.opensuse.org"
alt="openSUSE Conference 2013, 18-22 July, Thessaloniki, Greece"
title="openSUSE Conference 2013, 18-22 July, Thessaloniki, Greece"
&gt;
&lt;img src="http://conference.opensuse.org/images/promo/banner.jpg"&gt;
&lt;/a&gt;
              </pre>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <a href="/images/promo/poster.jpg"><img src="/images/promo/thumbnails/poster.png" alt="poster"></a>
              <h6>Embedd the poster:</h6>
              <pre class="prettyprint">
&lt;a href="http:/conference.opensuse.org"
alt="openSUSE Conference 2013, 18-22 July, Thessaloniki, Greece"
title="openSUSE Conference 2013, 18-22 July, Thessaloniki, Greece"
&gt;
&lt;img src="http://conference.opensuse.org/images/promo/poster.jpg"&gt;
&lt;/a&gt;
              </pre>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <a href="/images/promo/badge.jpg"><img src="/images/promo/thumbnails/badge.png" alt="badge" /></a>
              <h6>Embedd the badge:</h6>
              <pre class="prettyprint">
&lt;a href="http:/conference.opensuse.org"
alt="openSUSE Conference 2013, 18-22 July, Thessaloniki, Greece"
title="openSUSE Conference 2013, 18-22 July, Thessaloniki, Greece"
&gt;
&lt;img src="http://conference.opensuse.org/images/promo/badge.jpg"&gt;
&lt;/a&gt;
              </pre>
            </div>
          </li>
        </ul>
        <p class="lede">
        <a href="http://creativecommons.org/licenses/by/3.0/">
        <img src="/images/by.png" alt="Attribution 3.0 Unported (CC-BY-3.0)">
        <br /><small>All Promotion Images are Licensed Attribution 3.0 Unported (CC-BY-3.0)</small>
        </a>
        </p>
        <p class="pull-right"><a href="#"><i class="icon-arrow-up"></i>Back to top</a></p>
      </div>
    </div>
  </div>
</div>
