<div class="featurette" id="media">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#press" data-toggle="tab">Press</a></li>
      <li><a href="#promote" data-toggle="tab">Promote</a></li>
      <li><a href="#pictures" data-toggle="tab">Pictures</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="press">
      <img class="featurette-image pull-right" src="images/featurette/press.jpg">
        <h2 class="featurette-heading">Spread the Word<br /><span class="muted">Tell all your friends</span></h2>
        <p class="lead">
        Welcome to the press area of the 5th openSUSE Conference. In the coming weeks you'll find information here
        about the event including press announcements, press images, logos for download and more. If you want to visit
        oSC13 as a journalist please get in contact with our press team at <a href="mailto:news@opensuse.org">news@opensuse.org</a>
        </p>
        <p class="pull-right"><a href="#">Back to top</a></p>
      </div>
      <div class="tab-pane" id="promote">
      <img class="featurette-image pull-right" src="images/featurette/promote.jpg">
        <h2 class="featurette-heading">Show your support<br /><span class="muted">Help us to promote the event</span></h2>
        <p class="lead">
        Use these banners to promote the openSUSE Conference or show you're coming!
	</p>
	<div class="tabbable"> <!-- Only required for left/right tabs -->
	    <ul class="nav nav-tabs">
	      <li class="active"><a href="#logo" data-toggle="tab">Logo</a></li>
	      <li><a href="#banner" data-toggle="tab">Banner</a></li>
	      <li><a href="#poster" data-toggle="tab">Poster</a></li>
	      <li><a href="#badge" data-toggle="tab">Badge</a></li>
	    </ul>
	  <div class="tab-content">
	    <div class="tab-pane active" id="logo">
	      <p><a href="/images/osc13_logo.png"><img src="/images/osc13_logo.png"   width="210" height="145" alt="logo" /></a><br \>
		Logo (1024x724)<br \>
	      </p>
	    </div>
	    <div class="tab-pane" id="banner">
	      <p><a href="/banner/banner oSC13.jpg"><img src="/banner/banner oSC13.jpg" width="200" height="300"  alt="banner" /></a><br \>
		Banner (935x267)<br \>
	      </p>
	    </div>
	    <div class="tab-pane" id="poster">
	      <p><a href="/banner/poster.jpg"><img src="/banner/poster.jpg" width="210" height="145" alt="poster" /></a><br \>
		Poster (990x1530)<br \>
	      </p>
	    </div>
	    <div class="tab-pane" id="badge">
	      <p><a href="/banner/website badge square 450px.jpg"><img src="/banner/website badge square 450px.jpg" width="250" height="250" alt="badge" /></a><br \>
		Badge (450x450)<br \>
		<a href="/banner/website badge square 250px.jpg"><img src="/banner/website badge square 250px.jpg" width="125" height="125" alt="badge" /></a><br \>
		Badge (250x250)<br \>
	      </p>
	    </div>
	  </div>
	</div>
      <p class="pull-right"><a href="#">Back to top</a></p>
      </div>
      <div class="tab-pane" id="pictures">
      <img class="featurette-image pull-right" src="images/featurette/pictures.jpg">
        <h2 class="featurette-heading">See for yourself<br /><span class="muted">all the pretty pictures</span></h2>
        <p class="lead">

        </p>
        <p class="pull-right"><a href="#">Back to top</a></p>
      </div>
    </div>
  </div>
</div>
