<!-- NAVBAR
================================================== -->
<div class="navbar-wrapper">
<!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
  <div class="container">
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
      <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/"><img src="/images/header-logo.png" width="46" height="26" alt="Header Logo" /></a>
        <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="#about">About</a></li>
            <li><a href="#program">Program</a></li>
            <li><a href="#location">Location</a></li>
            <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#media">Press</a></li>
                <li><a href="#sponsors">Sponsors</a></li>
                <li><a href="http://en.opensuse.org/openSUSE:Conference_FAQ">FAQ</a></li>
              </ul>
           </li>           
          </ul>
        <div class="pull-right navbar-social">
            <a class="brand" href="http://twitter.com/openSUSEConf" title="Follow us on Twitter"><i class="icon-twitter"></i></a>
            <a class="brand" href="https://plus.google.com/events/c9cg77dsk32ci7jaf4rqbqbnvlg" title="Follow us on G+"><i class="icon-google-plus-sign"></i></a>
            <a class="brand" href="https://www.facebook.com/events/143798705781708 " title="Follow us on Facebook"><i class="icon-facebook"></i></a>
            <a class="brand" href="http://news.opensuse.org/category/project/events/osc/" title="Subscribe to our news feed"><i class="icon-rss"></i></a>
            <a class="brand" href="mailto:opensuse-conference-visitors+subscribe@opensuse.org" title="Subscribe to our mailing list"><i class=" icon-envelope-alt"></i></a>
        </div>
        </div><!--/.nav-collapse -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->
  </div> <!-- /.container -->
</div><!-- /.navbar-wrapper -->
