<div class="featurette" id="program">
  <div class="pull-left">
   <img class="featurette-image" src="images/featurette/program.jpg">
   <p class="featurette-image-license"><small>All Rights Reserved - <a href="http://www.flickr.com/photos/marblebutterfly/">By I.S.B.M.</a></small></p>
  </div>
  <h2 class="featurette-heading">5 Days of Awesome<br /><span class="muted">See for yourself!</span></h2>
  <p class="lead">
    We need your help to put together the most smashing schedule ever to be seen at oSC. If you
    have something to say in a presentation, want to teach people hands on in a workshop, or want
    to lead a discussion with your fellow contributors in a BoF setting, get the gears spinning. The Call for Papers
    will be announced in short order. <!-- don't hesitate to submit your proposal.-->
    <!--Please read our <a href="#">call for papers</a> for more information.-->
    On a more serious note of <b>PAAAAAARTYYYYYY</b> we asure you that also this year
    we'll have a lot of fun together at our legendary social events, barbecues and excursions!
  </p>
  <p class="pull-right"><a href="#"><i class="icon-arrow-up"></i>Back to top</a></p>
</div>
