<div class="box box-shadow grid_6 omega">
  <h2 class="box-header">Navigace </h2>
  <ul>
    <li>
      <img src="http://static.opensuse.org/hosts/www.o.o/images/flags/us.png" /> <%= link_to("US", "/")%> /
      <img src="http://static.opensuse.org/hosts/www.o.o/images/flags/cz.png" /> <%= link_to("CZ", "/cz")%>
    </li>
    <li><%= link_to("Hlavní stránka", "/cz")%></li>
    <li><%= link_to("Hledáme přednášející", "/cz/Hledame-prednasejici")%></li>
    <li><%= link_to("Místo konání", "/cz/Misto-konani")%></li>
    <li><%= link_to("Ubytování", "/cz/Ubytovani")%></li>
    <li><%= link_to("Média a tisk", "/cz/Media-Tisk")%></li>
    <li><%= link_to("Pravidla chování", "/cz/Pravidla-chovani")%></li>
    <li><%= link_to("Konference na Wiki", "http://en.opensuse.org/Portal:Conference")%></li>
    <li><%= link_to("Registrace", "/cz/Registrace")%></li>
    <li><%= link_to("Sponzoři", "/cz/Sponzori")%></li>
    <li><%= link_to("Časté dotazy", "http://en.opensuse.org/Portal:Conference/FAQ")%></li>
    <li><%= link_to("Android aplikace s programem",
    "https://play.google.com/store/apps/details?id=de.incoherent.suseconferenceclient")%></li>
    <li><%= link_to("živé streamy", "http://bambuser.com/channel/opensusetv")%></li>
  </ul>
</div>

<div class="box box-shadow grid_6 omega">
  <div style="text-align: center;"><a href="https://plus.google.com/events/cnmkbdc37mebetjk8e3t9dl92e0/110312141834246266844"><img src="https://www.gstatic.com/images/icons/gplus-32.png"/></a></div>
</div>

<div class="box box-shadow grid_6 omega">
  <h2 class="box-header"> #osc12 na Twitteru </h2>
<p> 
<div class="tweet"></div> </p>

</div>
