<div class="box box-shadow grid_6 omega">
  <h2 class="box-header">Navigation</h2>
  <ul>
    <li>
      <img src="http://static.opensuse.org/hosts/www.o.o/images/flags/us.png" /> <%= link_to("US", "/")%> /
      <img src="http://static.opensuse.org/hosts/www.o.o/images/flags/cz.png" /> <%= link_to("CZ", "/cz")%>
    </li>
    <li><%= link_to("Home", "/")%></li>
    <li><%= link_to("Program", "http://bootstrapping-awesome.org/schedule/")%></li>
    <li><%= link_to("Location", "/Location")%></li>
    <li><%= link_to("Accomodation", "/Accomodation")%></li>
    <li><%= link_to("Media/Press", "/Media-Press")%></li>
    <li><%= link_to("Code of conduct", "/Code-of-conduct")%></li>
    <li><%= link_to("Conference on Wiki", "http://en.opensuse.org/Portal:Conference")%></li>
    <li><%= link_to("Register", "/Register")%></li>
    <li><%= link_to("Sponsors", "/Sponsors")%></li>
    <li><%= link_to("Frequently Asked Questions", "http://en.opensuse.org/Portal:Conference/FAQ")%></li>
  </ul>
</div>

<div class="box box-shadow grid_6 omega">
  <div style="text-align: center;"><a href="https://plus.google.com/events/cnmkbdc37mebetjk8e3t9dl92e0/110312141834246266844"><img src="https://www.gstatic.com/images/icons/gplus-32.png"/></a></div>
</div>

<div class="box box-shadow grid_6 omega">
  <h2 class="box-header"> Sponsors </h2>
  <div style="text-align: center;">
      <h4>Platin Sponsors</h4>
      <p> 
      <a href="http://www.suse.com/" target="_blank"><img src="/images/sponsors/sponsor_suse.png" width="112" height="52"/></a>
      </p>
      <h4>Gold Sponsors</h4>
      <p> 
      <a href="http://www.aeroaccess.de/" target="_blank"><img src="/images/sponsors/sponsor_aeroaccess.png" width="194" height="41"/></a>
      </p>  
      <h4>Silver Sponsor</h4>
      <p> 
      <a href="http://www.google.com" target="_blank"><img src="/images/sponsors/sponsor_google.png" width="122" height="42"/></a>
      </p>
      <h4>Bronze Sponsor</h4>
      <p> 
      <a href="http://www.b1-systems.de/" target="_blank"><img src="/images/sponsors/sponsor_b1-systems.png" width="47" height="47"/></a>
      </p>
      <h4>Suppoter</h4>
      <p> 
      <a href="http://www.owncloud.com" target="_blank"><img src="/images/sponsors/sponsor_owncloud.jpg" width="100" height="50"/></a>
      </p>
      <h4>Media Partner</h4>
      <p> 
      <a href="http://www.linux-magazin.de/" target="_blank"><img src="/images/sponsors/sponsor_linux_magazine.png" width="83" height="41"/></a>
      <a href="http://www.root.cz/" style="margin-left: 20px" target="_blank"><img src="/images/sponsors/sponsor_rootcz.png" width="156" height="39"/></a>
      </p>
  </div>
</div>

<div class="box box-shadow grid_6 omega">
  <h2 class="box-header"> #osc12 on Twitter </h2>
<p> 
<div class="tweet"></div> </p>

</div>

