<div class="box box-shadow grid_6 omega">
  <h2 class="box-header">Navegacion </h2>
  <ul>
    <li>
      <img src="http://static.opensuse.org/hosts/www.o.o/images/flags/us.png" /> <%= link_to("US", "/")%> /
      <img src="http://static.opensuse.org/hosts/www.o.o/images/flags/cz.png" /> <%= link_to("CZ", "/cz")%>
    </li>
    <li><%= link_to("Hogar", "/cz")%></li>
    <li><%= link_to("Convocatoria para la Prczentacion de Ponencias", "/cz/Convocatoria-para-la-Prczentacion-de-Ponencias")%></li>
    <li><%= link_to("Localizacion", "/cz/Localizacion")%></li>
    <li><%= link_to("Prensa y Medios", "/cz/Prensa-y-Medios")%></li>
    <li><%= link_to("Codigo de conducta", "/cz/Codigo-de-conducta")%></li>
    <li><%= link_to("Inscripcion", "/cz/Inscripcion")%></li>
    <li><%= link_to("Patrocinadorcz", "/cz/Patrocinadorcz")%></li>

  </ul>
</div>

<div class="box box-shadow grid_6 omega">
  <h2 class="box-header"> #ossum12 en Twitter </h2>
<p> 
<div class="tweet"></div> </p>

</div>
