<div class="box box-shadow grid_6 omega">
  <h2 class="box-header">Navigation</h2>
  <ul>
    <li>
      <img src="http://static.opensuse.org/hosts/www.o.o/images/flags/us.png" /> <%= link_to("US", "/")%> /
      <img src="http://static.opensuse.org/hosts/www.o.o/images/flags/cz.png" /> <%= link_to("CZ", "/cz")%>
    </li>
    <li><%= link_to("Home", "/")%></li>
    <li><%= link_to("Program", "http://bootstrapping-awesome.org/schedule/")%></li>
    <li><%= link_to("Location", "/Location")%></li>
    <li><%= link_to("Accomodation", "/Accomodation")%></li>
    <li><%= link_to("Media/Press", "/Media-Press")%></li>
    <li><%= link_to("Code of conduct", "/Code-of-conduct")%></li>
    <li><%= link_to("Conference on Wiki", "http://en.opensuse.org/Portal:Conference")%></li>
    <li><%= link_to("Register", "/Register")%></li>
    <li><%= link_to("Sponsors", "/Sponsors")%></li>
    <li><%= link_to("Frequently Asked Questions", "http://en.opensuse.org/Portal:Conference/FAQ")%></li>
  </ul>
</div>

<div class="box box-shadow grid_6 omega">
  <div style="text-align: center;"><a href="https://plus.google.com/events/cnmkbdc37mebetjk8e3t9dl92e0/110312141834246266844"><img src="https://www.gstatic.com/images/icons/gplus-32.png"/></a></div>
</div>

<div class="box box-shadow grid_6 omega">
  <h2 class="box-header"> #osc12 on Twitter </h2>
<p> 
<div class="tweet"></div> </p>

</div>
