<div class="box box-shadow grid_6 omega">
  <h2 class="box-header">Navigace </h2>
  <ul>
    <li>
      <img src="http://static.opensuse.org/hosts/www.o.o/images/flags/us.png" /> <%= link_to("US", "/")%> /
      <img src="http://static.opensuse.org/hosts/www.o.o/images/flags/cz.png" /> <%= link_to("CZ", "/cz")%>
    </li>
    <li><%= link_to("Hlavní stránka", "/cz")%></li>
    <li><%= link_to("Call for papers", "/cz/Call-for-papers")%></li>
    <li><%= link_to("Média a tisk", "/cz/Media-Tisk")%></li>
    <li><%= link_to("Pravidla chování", "/cz/Pravidla-chovani")%></li>
    <li><%= link_to("Registrace", "/cz/Registrace")%></li>
    <li><%= link_to("Sponzoři", "/cz/Sponzori")%></li>
    

  </ul>
</div>

<div class="box box-shadow grid_6 omega">
  <h2 class="box-header"> #osc12 na Twitteru </h2>
<p> 
<div class="tweet"></div> </p>

</div>
