<div id="sponsors">
  <h2 class="featurette-heading">Sponsors<br /><span class="muted">We have to give thanks</span></h2>
  <div class="row featurette">
    <div class="span4">
      <a href="http://www.suse.com">
      <img class="sponsor-image" src="/images/sponsors/suse.png">
      </a>
      <p class="lead">
         SUSE is the original provider of the enterprise Linux distribution and the most interoperable platform for
         mission-critical computing. It's the only Linux recommended by VMware, Microsoft and SAP. And it's supported
         on more hardware and software than any other enterprise Linux distribution
      </p>
    </div>
    <div class="span4">
      <p class="sponsor-txt">
      You?
      </p>
      <p class="lead">
         We're looking for sponsors for the openSUSE Conference 2013. A sponsorship
         brochure will be available soon but we'd be happy to discuss any suggestions
         or requests ahead of that.
      </p>
      <p><b>Please contact:</b><br><a href="mailto:izabelvalverde@opensuse.org">Izabel Valverde</a><br><em>Sponsorship manager</em><br>
      <em>openSUSE Conference Organization</em><br>
      </p>
    </div>
  </div>
  <p class="pull-right"><a href="#"><i class="icon-arrow-up"></i>Back to top</a></p>
</div>